body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-login {
    width: 70%;
    max-width: 800px;
    min-width: 350px;
    padding: 2.5rem 3rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

/* Responsif untuk HP */
@media (max-width: 600px) {
    .card-login {
        width: 90%;
        padding: 1.8rem;
        max-width: 380px;
    }
}

.card-login h2 {
    text-align: center;
    color: #003db9;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.form-control {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #003db9;
    box-shadow: 0 0 6px rgba(50, 125, 255, 0.3);
}

.btn-gradient {
    background: linear-gradient(90deg, #003db9, #999999);
    border: none;
    color: #fff;
    transition: 0.3s ease;
    width: 100%;
}

.btn-gradient:hover {
    background: linear-gradient(90deg, #003db9, #999999);
    transform: scale(1.05);
    color: #fff;
    box-shadow: 0 4px 15px rgba(133, 6, 224, 0.4);
}

a {
    display: block;
    text-align: center;
    color: #777;
    margin-top: 1rem;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    color: #003db9;
    text-decoration: underline;
}
